# FSSD Proj 2-3 — Environment Variables
# Copy to .env and fill in real values. NEVER commit .env to git.

# Server
SERVER_IP=157.230.47.109
GRAFANA_USER=admin
GRAFANA_PASS=changeme
GRAFANA_DATASOURCE_UID=afpb2eygfssu8a

# RPi
RPI_USER=fctlab
RPI_TAILSCALE_IP=100.119.32.0

# Router admin
RUTM30_IP=192.168.1.1
RUT241_IP=192.168.2.1
